<div class='responsive-container mt-4'>
  <%= render 'shared/breadcrumbs', url: journals_path, text: 'Diaries' %>
  <div class='bg-bright-brown p-3 pl-6 relative rounded mt-4'>
    <%= render 'shared/journal_spring' %>
    <%= render 'journals/journal_info', journal: @journal %>
  </div>

  <%= turbo_frame_tag 'page_handler' %>
  <div id='posts' class='grid grid-cols-6 gap-10 mt-10'>
    <%= render partial: 'posts/post', collection: @posts %>
  </div>
  <% next_page = @pagy.next %>
  <%= render 'shared/load_more', next_page: next_page, page_path: journal_path(@journal, page: next_page) %>
</div>



