<section class='large-container relative' id="<%= dom_id post %>" data-controller='reader'>
  <div class='absolute -top-5 right-60'>
    <%= image_tag 'icons/clip.svg', width: '50px'%>
  </div>
  <div class='flex justify-between'>
    <h1 class='pr-10'><%= post.title %></h1>
    <div class='flex justify-end w-[15%]'>
      <%= link_to [:edit, :user, journal, post], data: { turbo_frame: 'modal' }, class: 'block pr-4' do %>
        <%= image_tag 'icons/edit.svg', width: '20px' %>
      <% end %>
      <%= button_to [:user, journal, post], method: :delete, remote: true, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'block' do %>
        <%= image_tag 'icons/delete.svg', width: '20px' %>
      <% end %>
    </div>
  </div>
  <div class='content-small-accent mt-8 flex'>
    <span class='pr-4'><%= l(post.created_at, format: :full_date) %></span>
    <%= image_tag 'icons/circle.svg', width: '6px' %>
    <span class='pl-4' data-reader-target='readingTime'></span>
  </div>
  
  <% if post.audio.attached? %>
    <div class='mt-8'>
      <%= audio_tag(url_for(post.audio), class:'message-audio', controls: '') %>
    </div>
  <% end %>

  <div class='content-base my-8' data-reader-target='content'>
    <%== post.content %>
  </div>

  <div class='!py-8 swiper-container swiper relative'
       data-controller='swiper'
       data-swiper-options-value='{"freeMode": false, "slidesPerView": "1", "spaceBetween": 12, "pagination": {"el": ".swiper-pagination", "clickable": true}, "navigation": {"nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}}'>
    <div class='swiper-wrapper'>   
      <% post.images.in_groups_of(3).each do |group| %>
        <div class='swiper-slide'>
          <div class='flex flex-wrap -mx-3 gap-y-6'>
            <% group.compact.each do |image| %>
              <div class="w-full px-3 sm:w-1/3">
                <%= content_tag(
                    :div,
                    nil,
                    class: {
                        'text-over-image' => image.description.present?,
                        'text-over-image-disable' => !image.description.present?,
                        'w-full bg-cover h-52' => true
                      },
                      style: "background-image: url(#{image.file.url})",
                      data: { text: sanitize(image.description) }
                    ) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
      
    <div class='!absolute swiper-button-prev bg-base-beige !w-10 !h-10 shadow-2xl rounded-full'>
      <%= image_tag 'icons/back.svg' %>
    </div>
    <div class='!absolute swiper-button-next bg-base-beige !w-10 !h-10 shadow-2xl rounded-full'>
      <%= image_tag 'icons/forward.svg' %>
    </div>
    
    <div class='swiper-pagination !bottom-0'></div>
  </div>
</section>