<div class='bg-primary-white shadow relative h-[290px]'>
  <div class='absolute -top-4 right-20'>
    <%= image_tag 'icons/clip.svg', width: '30px'%>
  </div>
  <div class='post-header bg-bright-brown p-4 h-[116px]'>
    <div class='flex justify-between h-full'>
      <div class='pr-8 flex flex-col justify-between'>
        <%= link_to [journal, post], class: 'block col-span-2', data: { turbo_frame: 'modal' } do %>
          <h3><%= post.title %></h3>
        <% end %>
        <p class='content-small-accent mt-2'><%= l(post.created_at, format: :full_date) %></p>
      </div>
    </div>
  </div>

  <div class='post-content p-4'>
    <p class='content-small line-clamp-7'><%= strip_tags(post.content) %></p>
  </div>
</div>

