<div class='responsive-container mt-10'>
  <%= turbo_frame_tag 'page_handler' %>
  <div class='mb-10 flex justify-between'>
    <%= render partial: 'search/journals/categories', locals: { public: false }%>
    <%= render partial: 'search/journals/input_form', locals: { results: [], form_url: search_user_journals_path, suggestions_url: search_suggestions_user_journals_path, public: false }%>
  </div>
  <% if @journals.present? %>
    <div id='journals' class='grid grid-cols-6 gap-10'>
      <%= render partial: 'journals/journal', collection: @journals, locals: { public: false } %>
    </div>
    <% next_page = @pagy.next %>
    <%= render 'shared/load_more', next_page: next_page, page_path: user_journals_path(page: next_page)  %>
  <% else %>
    <div class='mt-8 content-base'>No journals</div>
  <% end %>
</div>

