<div class='responsive-container mt-4'>
  <div class='flex justify-between'>
    <%= render 'shared/breadcrumbs', url: user_journals_path, text: 'Diaries' %>
    <div class='flex justify-end'>
      <%= link_to [:new_author, :user, @journal], class: 'block pr-4', data: { turbo_frame: 'modal' } do %>
        <%= image_tag 'icons/user-plus.svg', width: '26px' %>
      <% end %>
      <%= link_to [:edit, :user, @journal], class: 'block pr-4', data: { turbo_frame: 'modal' } do %>
        <%= image_tag 'icons/edit.svg', width: '20px' %>
      <% end %>
      <%= button_to [:user, @journal], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'block' do %>
        <%= image_tag 'icons/delete.svg', width: '20px' %>
      <% end %>
    </div>
  </div>
  <div class='bg-bright-brown p-3 pl-6 relative rounded mt-4'>
    <%= render 'shared/journal_spring' %>
    <%= render 'journals/journal_info', journal: @journal %>
  </div>

  <%= turbo_frame_tag 'page_handler' %>
  <div id='posts' class='grid grid-cols-6 gap-10 mt-10'>
    <%= link_to [:new, :user, @journal, :post], class: 'block col-span-2', data: { turbo_frame: 'modal' } do %>
      <div class='bg-primary-white shadow flex justify-center h-[290px]'>
        <%= image_tag 'icons/file-plus.svg', width: '100px' %>
      </div>
    <% end %>
    <%= render partial: 'user/posts/post', collection: @posts %>
  </div>
  <% next_page = @pagy.next %>
  <%= render 'shared/load_more', next_page: next_page, page_path: user_journal_path(@journal, page: next_page) %>
</div>

